/* Vite template default styles */
:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  /* color: #646cff; */
  color: #4047da;
  text-decoration: inherit;
  /* font-weight: 400; */
}
a:hover {
  /* color: #535bf2; */
  color: #646cff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  /* font-weight: 500; */
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Own styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  /* border: 2px solid lightblue; */
  /* color: black; */
  /* padding: 1rem 2rem; */
  min-height: 100vh;
  width: 100%;
  background-image: url(/back-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  scroll-behavior: smooth;
}

header {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  height: 3.2rem;
  user-select: none;
}

header div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

#logo {
  width: 38px;
}

header h1 {
  /* font-weight: 500; */
  /* font-size: 2.2rem; */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  /* user-select: none; */
}

nav {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 4px 14px;
  border-radius: 6px;
  margin: auto 5px;
  /* color: white; */
}

.active {
  /* border: 2px solid rgba(255, 255, 255, 0.8); */
  /* color: rgba(255, 255, 255, 0.87); */
  /* font-weight: 500; */
  background-color: rgba(255, 255, 255, 0.4);
}

.highlight-button {
  background-color: white;
  padding: 4px 14px;
  border-radius: 6px;
  width: fit-content;
}

nav img {
  /* margin-left: 4px; */
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  margin: auto 5px;
}

.menu-icon {
  display: none;
}

main {
  /* border: 2px solid blue; */
  min-height: 100vh - 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  /* row-gap: 7rem; */
  scroll-behavior: smooth;
}

.main-center {
  /* border: 2px solid blue; */
  /* margin: auto 10rem; */
  color: white;
  max-width: 80%;
  font-size: 1.1rem;
  font-style: italic;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  user-select: none;
  text-align: center;
  /* display: flex; */
}

.main2 {
  /* border: 2px solid red; */
  /* margin: 10rem auto; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* height: calc(100vh - 6.4rem); */
  /* max-height: calc(100vh - 3.2rem); */
  /* justify-self: center; */
  overflow: hidden;
}

.main-left {
  /* border: 2px solid blue; */
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* max-height: 500px; */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.main-left h2,
.main-left p,
.main-left a {
  margin: 1rem;
}

.cta {
  font-weight: 500;
  font-size: 1.5rem;
  text-shadow: 1px 1px 4px rgba(0, 87, 138, 0.5);
  /* background-color: white; */
  /* padding: 4px 14px; */
  /* border-radius: 6px; */
  /* width: fit-content; */
}

.main-right {
  /* border: 2px solid blue; */
  width: 55%;
  /* max-height: 600px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.main-right h1 {
  margin-bottom: 12px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  user-select: none;
}

.carousel {
  /* border: 2px solid blue; */
  /* max-height: calc(100vh - 10rem); */
  /* margin: 10px; */
  /* border-radius: 10px; */
  /* display: flex; */
  /* object-fit: contain; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  /* grid-auto-rows: minmax(200px, auto); */
  /* grid-auto-rows: minmax(auto, auto); */
  /* aspect-ratio: 1/1; */
  user-select: none;
}

.card {
  /* border: 2px solid blue; */
  aspect-ratio: 1/1;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.dim {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  bottom: 3.66rem;
  border-radius: 0 0 6px 6px;
}

/* .dim h3,
.dim p {
  cursor: pointer;
} */

.flex-row {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.arrow {
  width: 28px;
  cursor: pointer;
}

.fadeout {
  opacity: 0;
  transition: 500ms ease-in;
}

.fadein {
  opacity: 1;
  transition: 300ms ease-in;
}

.footer {
  /* border: 2px solid blue; */
  height: 3.2rem;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  column-gap: 10px;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.87);
}

.flexy {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  /* scroll-snap-type: y mandatory; */
  /* height: 100vh; */
  /* overflow-y: scroll; */
}

.itinerary {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.25);
  width: 90%;
  padding: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  text-align: center;
  gap: 18px;
  user-select: none;
  transition: 250ms ease-in;
  /* scroll-snap-align: start; */
}

.itinerary:hover {
  /* width: 92%; */
  transform: scale(1.02);
}

.itinerary-expanded {
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.25);
  width: 90%;
  padding: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 18px;
  user-select: none;
  transition: 250ms ease-in;
  scroll-snap-align: start;
  transform: scale(1.02);
}

.iti-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iti-flex > * {
  width: 33%;
}

.hashtags {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 0.8rem;
}

.hash {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 0px 6px;
  border-radius: 2px;
}

.dollar {
  margin: 2px;
  width: 48px;
  height: 26px;
  /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 1); */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  object-fit: cover;
}

.text-sm {
  font-size: 0.8rem;
}

.author-info img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.author-info p {
  text-align: center;
}

.likes img {
  width: 38px;
  cursor: pointer;
}

.likes p {
  font-weight: 400;
  color: rgb(255, 109, 109);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.expand-itinerary-button {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px 22px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  visibility: hidden;
  opacity: 0;
  /* transition: 250ms ease-in 400ms; */
  transition: 250ms ease-in;
  /* display: none; */
}

.itinerary:hover .expand-itinerary-button{
  visibility: visible;
  opacity: 1;
}

.itinerary-expanded:hover .expand-itinerary-button{
  visibility: visible;
  opacity: 1;
}

.meme {
  width: 64px;
  align-self: center;
}

.form-container {
  /* border: 2px solid red; */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 500px;
  /* height: 500px; */
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.form-flex {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 300px;
  gap: 10px;
}

.form-flex input, .form-flex select {
  font-family: "Poppins", sans-serif;
  /* font-size: 0.9rem; */
}

.flexear {
  display: flex;
  gap: 8px;
  align-items: center;
}

.errormsg {
  color: rgb(255, 37, 37);
  font-size: 1.1rem;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.233);
  text-align: center;
}

@media (max-width: 570px) {
  header {
    /* flex-direction: column; */
    height: 6rem;
    padding: 10px;
  }
  .menu-icon {
    display: inline;
  }
  .links-closed {
    display: none;
    transform: translateY(-100vh);
  }
  .links-open {
    /* border: 2px solid blue; */
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    /* display: block; */
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    background-color: wheat;
    transition: 1s;
    transform: none;
  }
  nav a {
    border: 0;
    /* border-radius: 0; */
    margin: 0;
    padding: 18px 26px;
    width: 100%;
    text-align: center;
    /* font-weight: 400; */
    font-size: 1.3rem;
    /* color: white; */
    /* margin: auto 5px; */
    font-style: italic;
  }
  .login {
    padding: 16px;
  }
  nav button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .main-center{
    /* border: 2px solid blue; */
    max-width: 90%;
    padding: 5.5rem 0;
    /* height: calc(100vh - 6rem); */
    
  }
  .main2 {
    flex-direction: column;
    height: auto;
  }
  .main-left {
    width: auto;
    margin: 0 2rem;
    /* height: calc(100vh - 6rem - 40px); */
  }
  .main-left p {
    display: none;
  }
  .main-right {
    margin-top: 2rem;
    /* margin-bottom: 1rem; */
    width: auto;
    height: auto;
  }
  .arrow {
    display: none;
  }
  .main-right h1 {
    margin-bottom: auto;
  }
  .carousel {
    display: flex;
    flex-direction: column;
    margin: 24px;
  }
  .dim {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media (min-width: 1350px) {
  .main2 {
    justify-content: space-evenly;
  }
  .main-right {
    width: 40%;
  }
  .card {
    aspect-ratio: 1.5/1;
    height: 100%;
    /* width: 100%; */
  }
  .under img {
    max-width: 1000px;
  }
}